name: flask-rebar Pull Request Tests

on:
- pull_request

jobs:
  tests:
    name: Testing on Python ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 20
      fail-fast: false
      matrix:
        python:
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        libraries:
        - marshmallow=='3.0.*' flask=='1.0.*' werkzeug=='1.*'
        - marshmallow=='3.1.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.2.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.3.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.4.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.5.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.6.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.7.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.8.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.9.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.10.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.11.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.12.*' flask=='1.1.*' werkzeug=='1.*'
        - marshmallow=='3.0.*' flask=='2.0.*' werkzeug=='2.*'
        - marshmallow=='3.5.*' flask=='2.0.*' werkzeug=='2.*'
        - marshmallow=='3.10.*' flask=='2.0.*' werkzeug=='2.*'
        - marshmallow=='3.11.*' flask=='2.0.*' werkzeug=='2.*'
        - marshmallow=='3.12.*' flask=='2.0.*' werkzeug=='2.*'

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python:${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}
    - name: "Test with ${{matrix.libraries}}"
      run: |
        pip install -U pip
        pip install '.[dev]' ${{matrix.libraries}}
        pip freeze
    - name: Run Tests
      run: |
        python -m pytest
  formatter:
    name: Format using Black
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: "Install dependencies"
      run: |
        python -m pip install -U pip
        pip install '.[dev]'
        python -m pip freeze
    - name: Run black
      run: |
        python -m black --check --diff .
